{{ template "base" . }}

{{ define "content" }}
    <div class="container">
        <h1>About Page</h1>
        <p>Text to test</p>
        <p>This is from the template: {{ index .StringMap "test" }}</p>
    </div>
{{ end }}